@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


html,
body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    overflow: hidden;
}

h3,
p {
    margin: 0;
    line-height: normal;
}

a {
    text-decoration: none;
    color: #2c3e50;
}

::-webkit-scrollbar {
    border-radius: 2em;
    width: 10px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #434343;
    -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

.body-wrapper {
    display: grid;
    grid-template-rows: min-content auto 40px;
    height: 100%;
    overflow: hidden;
}

main {
    grid-row-start: 2;
}

footer {
    grid-row-start: 3;
}

/* Calendar page */

.header {
    width: 100%;
    height: 65px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #F5F6F7;
}

.header-container {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.text-content {
    text-align: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;
    color: #7D8FB3;
    font-size: .75rem;
    font-weight: 500;
}

.nav-item img {
    width: 30px;
    height: 30px;
}

.footer {
    height: 40px;
    border-top: 2px solid #F5F6F7;
    display: flex;
    align-items: center;
}

.footer-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.copyright {
    color: #7D8FB3;
    font-weight: 500;
    margin: 0 20px;
}

.calendar-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 65px - 40px);
    box-shadow: inset 0px 0px 700px 0px rgba(38, 51, 77, 0.03);
    overflow: hidden;
}

.calendar {
    max-width: 1200px;
    width: 100%;
    margin: 20px 0;
    height: calc(100% - 40px);
}

.fc .fc-view-harness-active>.fc-view {
    background-color: white;
}

.fc-timegrid-slot-label-frame,
.fc-timegrid-axis-cushion,
.fc-toolbar-title {
    color: #2c3e50;
}

.fc-daygrid-day:hover,
.fc-timegrid-slot:hover {
    background-color: rgba(188, 232, 241, 0.3);
    cursor: pointer;
}

.popover-header span {
    color: #2c3e50;
    text-align: left;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
}

.popover-body p {
    color: #2c3e50;
    text-align: left;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 400;
}

.icon {
    cursor: pointer;
    margin-left: 10px;
}

.close-icon-popover {
    filter: invert(1);
}

.modal-open,
.modal {
    padding: 0 !important;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal-content {
    border-radius: 15px !important;
    max-width: 500px;
}

.modal-window,
.modal-window * {
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}

.modal-body {
    display: flex;
    align-self: center;
    padding: 0;
    width: 100%;
}

.modal-window-booking {
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    position: relative;
    box-shadow: 0px 60px 120px 0px rgba(38, 51, 77, 0.05);
    width: 500px;
}

.booking-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-place-horizontal {
    align-items: center;
    display: flex;
    margin: 5px 20px;
    justify-content: space-between;
    gap: 15px;
}

.customer-formgroup {
    width: 220px;
}

.form-select,
.add-place {
    font-weight: 500;
    color: #434343;
    line-height: 20px;
    height: 40px;
}

.form-select:focus {
    border-color: #dedede;
    box-shadow: none;
}

.booking-form h3 {
    font-size: 1.25rem;
    color: #434343;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
    align-self: center;
    display: flex;
    margin: 10px;
}

.add-place-customer-input {
    color: #434343;
    text-align: left;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    outline: none;
    border: none;
    width: 220px;
    border-style: solid;
    border-color: #dedede;
    border-width: 2px;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
}

.add-place-customer-input::placeholder {
    color: #9a9a9a;
}

.add-place {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 220px;
}

input.add-place-checkbox {
    width: 15px;
    height: 15px;
}

.customer-label {
    color: #434343;
    padding-bottom: 5px;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
}

.head {
    border-style: solid;
    border-color: #f5f6f7;
    border-width: 0px 0px 2px 0px;
    padding: 0px 30px 0px 34%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    height: 50px;
    position: relative;
}

.event-title {
    color: #2c3e50;
    text-align: left;
    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    line-height: normal;
    font-weight: 500;
    position: relative;
}

.close-button {
    background: #ffffff;
    border-radius: 100px;
    border-style: solid;
    border-color: #f5f6f7;
    border-width: 2px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.05);
}

.save-button {
    background: #2c3e50;
    border-radius: 0px 0px 0px 14px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    border: none;
}

.save-button:hover {
    background-color: #39526b;
}

.save-button-text {
    color: #ffffff;
    text-align: center;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
    position: relative;
}

.cancel-button {
    background: rgba(51, 97, 255, 0.05);
    border-radius: 0px 0px 15px 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    border: none;
}

.cancel-button:hover {
    background-color: rgb(227 227 227);
}

.cancel-button-text {
    color: #2c3e50;
    text-align: center;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
    position: relative;
}

.close-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.close-button:hover {
    background-color: rgb(240, 240, 240);
}

.icon-button {
    cursor: pointer;
}

.modal-buttons-footer {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    position: relative;
    height: 50px;
    margin-top: 10px;
    width: 500px;
}

.modal-footer-button {
    border: none;
}

.head.delete {
    padding: 0 20px;
}

.modal-buttons-footer.delete {
    margin-top: 0;
}

.add-place-customer-input:user-invalid {
    border-color: #ff5151;
}

/* End calendar page */
@media (max-width: 625px) {
    .fc .fc-toolbar {
        flex-direction: column;
    }

    .calendar {
        margin: 10px 0;
        height: calc(100% - 20px);
    }

    .fc .fc-toolbar.fc-header-toolbar {
        margin-bottom: 10px;
    }

    .fc .fc-toolbar-title {
        margin: 5px 0;
    }
}

@media (max-width: 525px) {

    .copyright {
        font-size: 0.9rem;
    }

    .modal-content {
        min-width: 360px;
        width: 98%;
    }

    .modal-window-booking {
        min-width: 360px;
        width: 100%;
    }

    .content-booking {
        width: 100%;
    }

    .booking-form {
        width: 100%;
    }

    .add-place-horizontal {
        margin: 3px 5px;
        gap: 0;
    }

    .customer-formgroup {
        width: min-content;
    }

    .add-place-customer-input {
        width: 45vw;
    }

    .add-place {
        width: 45vw;
    }

    .modal-buttons-footer {
        width: auto;
    }
}

@media (max-width: 385px) {
    .customer-label {
        font-size: 0.75rem;
    }
}