@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

html {
    overflow-x: hidden;
}

h1,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    border-radius: 2em;
    width: 10px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #434343;
    -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

/* Index page */
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #efefef;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.red-line {
    width: 100%;
    height: 10px;
    background: #8f1616;
}

.header-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

.text-content {
    text-align: center;
}

.text-content h1 {
    font-size: 2em;
    font-weight: bold;
    color: #8f1616;
    padding-top: 5px;
}

.text-content p {
    color: #434343;
    font-weight: bold;
    font-size: 1.5em;
}

.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 75px;
}

.contact span {
    font-weight: bold;
    color: #434343;
    font-size: 1.5em;
    position: relative;
    top: 15px;
}

.book-bottom {
    background-color: #8f1616;
    color: white;
    border: 1px solid #434343;
    padding: 10px 30px;
    cursor: pointer;
    position: relative;
    top: 15px;
    border-radius: 25px;
    white-space: nowrap;
    width: 200px;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.book-bottom:hover {
    background-color: #a52a2a;
}

.about {
    padding-top: 90px;
    background-image: url(../images/about-photo.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.about-container {
    align-items: center;
    display: flex;
    height: 90vh;
}

.about-content.element-animation {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.about-content.element-animation.element-show {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translate(0);
}

.about-title {
    background-color: #8f1616;
    color: white;
    border: 1px solid #434343;
    padding: 10px 30px;
    position: relative;
    border-radius: 35px;
    white-space: nowrap;
    opacity: 0.93;
    position: absolute;
    z-index: 1;
}

.about-title h1 {
    font-size: 2.5em;
    color: #ffffff;
    font-weight: bold;
}

.about-text {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    opacity: 0.7;
    border: 1px solid #434343;
    border-radius: 60px;
    white-space: nowrap;
    position: relative;
    z-index: 0;
    left: 30px;
    top: 48px;
}

.about-text li {
    color: #000;
    font-size: 2em;
    font-weight: bold;
    list-style: none;
    box-shadow: 0px 2px 0px 0px rgba(67, 67, 67, 0.25);
    margin: 20px 10px;
}

.services {
    /* height: 100vh; */
    position: relative;
    background-color: #f0f0f0;
}

.services-content {
    background-image: url(../images/services.png);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
}

.services-content svg {
    align-self: flex-end;
}

.shape-fill {
    fill: #f0f0f0;
    transform-origin: center;
    transform: rotateY(0);
    border-bottom: 2px solid red;
}

.services-title.element-animation {
    background-color: #fff;
    color: #434343;
    border: 1px solid #434343;
    padding: 10px 30px;
    white-space: nowrap;
    border-radius: 69px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.services-title.element-animation.element-show {
    opacity: 0.81;
    -webkit-transform: translateY(-50%, -50%);
    -ms-transform: translateY(-50%, -50%);
    transform: translate(-50%, -50%);
}

.service-image img {
    width: 250px;
    height: 250px;
}

.service-images.element-animation {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 5px 8px -5px rgba(151, 163, 184, 0.5),
        0 15px 16px -15px rgba(151, 163, 184, 0.5),
        0 25px 32px -25px rgba(151, 163, 184, 0.5);
    margin-bottom: 40px;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.service-images h4 {
    padding: 40px 0;
    color: #434343;
}

.service-images:hover {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out !important;
}

.service-images.element-animation.element-show {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.service-images.element-animation:nth-of-type(2).element-show {
    opacity: 1;
    -webkit-transition-deley: 0.2s;
    -o-transition-deley: 0.2s;
    transition-delay: 0.25s;
}

.service-images.element-animation:nth-of-type(3).element-show {
    opacity: 1;
    -webkit-transition-deley: 0.4s;
    -o-transition-deley: 0.4s;
    transition-delay: 0.5s;
}

.service-images.element-animation:nth-of-type(4).element-show {
    opacity: 1;
    -webkit-transition-deley: 0.6s;
    -o-transition-deley: 0.6s;
    transition-delay: 0.75s;
}

.book {
    background-image: url(../images/book.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.book-laptop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop-image {
    width: 100%;
    position: relative;
    max-width: 1250px;
    max-height: 750px;
    margin-top: 50px;
}

.book-icon.element-animation {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 40%;
    padding-left: 1vw;
    opacity: 0;
    cursor: pointer;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.book-icon.element-animation.element-show {
    opacity: 0.9;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translate(0);
}

.book-icon:hover {
    opacity: 1 !important;
    transition: all 0.1s;
}

.top-icon {
    display: none;
    background-color: #8f1616;
    position: fixed;
    text-align: center;
    cursor: pointer;
    width: 2.1em;
    height: 2.1em;
    line-height: 2.2;
    border-radius: 2px;
}

.top-right {
    right: 30px;
    bottom: 30px;
}

.icon-arrow svg {
    transform: translate(0, -20%) rotate(180deg);
    width: 20px;
    fill: #fff;
}

#scroll-top.show {
    display: block;
}

.services-info {
    background-color: #f0f0f0;
}

.service-card {
    display: flex;
    margin: 40px 30px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 250px;
}

.service-card.top {
    margin-top: 0;
}

.service-card.bottom {
    margin-bottom: 0;
}

.service-info-image {
    position: relative;
}

.service-info-image.element-animation span {
    position: absolute;
    top: 83%;
    left: 15%;
    font-size: 1.25rem;
    color: #434343;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;
}

.service-info-image.two span {
    left: 19%;
}

.service-info-image.three span {
    left: 8%;
}

.service-info-image.element-animation.element-show span {
    opacity: 1;
}

.service-info-image.element-animation img {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    height: 250px;
}

.service-info-image.element-animation {
    opacity: 0;
    -webkit-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;
}

.service-info-image.element-animation.element-show {
    opacity: 1;
}

.service-info-text.element-animation {
    display: flex;
    flex-direction: column;
    background-image: url(../images/swp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    justify-content: center;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #e7e6e6;
    opacity: 0;
    -webkit-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.service-info-text.element-animation.element-show {
    opacity: 1;
}

.service-info-text.second {
    background-position: top;
}

.service-info-text.third {
    background-position: bottom;
}

.list-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 40px;
    gap: 10px;
}

.service-item {
    font-size: 1.45rem;
    color: #434343;
}

.lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.first-line.element-animation {
    border: 1px solid #7c7c7c;
    width: 40%;
    transition: all 1.5s;
}

.second-line.element-animation {
    border: 1px solid #7c7c7c;
    width: 20%;
    transition: all 1.5s;
}

.first-line.element-animation.element-show {
    width: 80%;
}

.second-line.element-animation.element-show {
    width: 60%;
}

.service-text {
    padding-left: 40px;
    font-size: 1.75rem;
    color: #434343;
}

.additional-services {
    background-image: url(../images/addtional.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.additional-services-title {
    padding: 50px 0;
    color: #434343;
    text-transform: uppercase;
}

.additional-services-card {
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 20px;
    /* margin-right: 20px;
    margin-bottom: 20px;
    width: 31%; */
    color: #434343;
}

.additional-services-card:hover {
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.testimonials {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.testimonial-track {
    display: flex;
    animation: scroll-right-to-left 30s linear infinite;
    margin-bottom: 30px;
}

.testimonials-left-to-right .testimonial-track {
    animation: scroll-left-to-right 30s linear infinite;
    margin: 0;
}

.testimonial {
    flex: 0 0 calc(100% / 4);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.testimonial img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@keyframes scroll-right-to-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-left-to-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

footer {
    height: 280px;
    background-color: #ececec;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.logo.footer {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-left: 30px;
}

.contact.footer {
    padding-top: 60px;
    padding-right: 30px;
    font-size: 1.5rem;
    display: flex;
    align-items: start;
}

.contact.footer > p {
    font-weight: bold;
    color: #434343;
}

.text-content.footer {
    align-items: start;
    display: flex;
    flex-direction: column;
}

.copyright {
    color: #434343;
    font-weight: bold;
    margin: 10px;
}

.modal-open,
.modal {
    padding: 0 !important;
}

.modal-content {
    border-radius: 40px !important;
    max-width: 440px;
}

.modal-window,
.modal-window * {
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}

.modal-window-booking {
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 400px;
    position: relative;
    box-shadow: 0px 60px 120px 0px rgba(38, 51, 77, 0.05);
}

.head {
    border-style: solid;
    border-color: #f5f6f7;
    border-width: 0px 0px 2px 0px;
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    height: 60px;
    position: relative;
}

.event-title {
    color: #434343;
    text-align: left;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    line-height: 25px;
    font-weight: 700;
    position: relative;
}

.close-button {
    background: #ffffff;
    border-radius: 100px;
    border-style: solid;
    border-color: #f5f6f7;
    border-width: 2px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.05);
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    padding: 0;
}

.content-booking {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 240px;
    position: relative;
}

.add-place {
    border-style: solid;
    border-color: #f5f6f7;
    border-width: 0px 0px 2px 0px;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    height: 60px;
    width: 438px;
    position: relative;
}

.add-place-customer-input {
    color: #434343;
    text-align: left;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    outline: none;
    border: none;
    width: 100%;
}

.add-place-customer-input:user-valid:not(:placeholder-shown) {
    display: inline;
    background-image: url("../images/svg/done.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 33px) 50%;
}

.add-place-customer-input:user-invalid {
    display: inline;
    background-image: url("../images/svg/error_outline.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 33px) 50%;
}

.add-place-customer-input::placeholder {
    color: #9a9a9a;
}

.add-place-customer-input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(60%);
    width: 100px;
}

.modal-footer-button {
    border: none;
}

.save-button {
    background: #8f1616;
    border-radius: 0px 0px 0px 14px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
}

.save-button:hover {
    background-color: #a52a2a;
}

.save-button-text {
    color: #ffffff;
    text-align: center;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
    position: relative;
}

.cancel-button {
    background: rgba(51, 97, 255, 0.05);
    border-radius: 0px 0px 15px 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
}

.cancel-button:hover {
    background-color: rgb(240, 240, 240);
}

.cancel-button-text {
    color: #8f1616;
    text-align: center;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
    font-weight: 500;
    position: relative;
}

.close-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.icon-button {
    cursor: pointer;
}

.modal-buttons-footer {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    position: relative;
}
/* End index page */

/* Login page */
.body-login{
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-primary{
    background-color: #8f1616;
        border-color: #8f1616;
        font-weight: 500;
}

.btn-primary:hover {
    background-color: #a52a2a;
    border-color: #a52a2a;
}

.form-control:focus {

    border-color: #a52a2a;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 13, 45, 0.25);
}
/* End login page */

@media (max-width: 1250px) {
    .list-services {
        padding-left: 20px;
    }

    .service-item {
        font-size: 1.05rem;
        color: #434343;
    }

    .service-text {
        font-size: 1.5rem;
    }
}

@media (max-width: 1000px) {
    .about-text {
        left: 29px;
        top: 41px;
        padding-left: 15px;
    }

    .about-text li {
        font-size: 1.5em;
        margin: 15px 10px;
    }

    .about-title h1 {
        font-size: 2em;
    }

    .service-item {
        font-size: 0.82rem;
        color: #434343;
    }

    .service-text {
        padding-left: 20px;
    }
}

@media (max-width: 860px) {
    .text-content h1 {
        font-size: 1.5em;
    }

    .text-content p {
        font-size: 1em;
    }

    .service-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 680px) {
    .text-content {
        display: none;
    }

    .about-text {
        left: 0px;
        top: 30px;
        border-radius: 30px;
        padding: 15px 0 15px 10px;
        white-space: wrap;
        margin-right: 3vw;
    }

    .about-text li {
        font-size: 1.25em;
    }

    .about-title h1 {
        font-size: 1.5em;
    }

    .service-card {
        margin: 20px;
        border-radius: 0;
        box-shadow: none;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .service-info-image img {
        width: 200px !important;
        height: 200px !important;
        border-radius: 30px !important;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .service-info-image.element-animation span {
        left: auto;
        font-size: 1rem;
    }

    .service-info-image {
        display: flex;
        justify-content: center;
        -webkit-transition: all 1s !important;
        -ms-transition: all 1s !important;
        transition: all 1s !important;
    }

    .service-info-text {
        border-radius: 30px !important;
        min-height: 200px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        -webkit-transition: all 1s !important;
        -ms-transition: all 1s !important;
        transition: all 1s !important;
    }

    .list-services {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0 10px 40px;
    }

    .service-text {
        font-size: 1rem;
    }

    br {
        display: none;
    }

    .first-line.element-animation {
        width: 20%;
    }

    .second-line.element-animation {
        width: 10%;
    }

    .service-text {
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal {
        width: 100%;
    }

    .modal-content {
        width: 90%;
        margin: auto;
    }

    #bookingForm {
        width: 100%;
    }

    .add-place {
        width: auto;
    }
}

@media (max-width: 575px) {
    .services-title h1 {
        font-size: 1.5em;
    }

    .services-title {
        padding: 10px 15px;
    }

    .service-image img {
        width: 340px;
        height: 275px;
    }

    .services-content {
        margin-bottom: 40px;
    }

    .laptop-image {
        display: none;
    }

    .mobile-image {
        display: block !important;
        max-height: 660px;
    }

    .about-content.element-animation {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .book-icon.element-animation {
        width: 250px;
        padding-left: 0;
        opacity: 1;
    }

    .service-images {
        transition-delay: 0s !important;
    }

    .testimonials,
    .additional-services-title.praise {
        display: none;
    }
}

@media (max-width: 400px) {
    .add-place-customer-input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        width: 45px;
    }

    .add-place-customer-input:user-valid:not(:placeholder-shown) {
        background-position: calc(100% - 5px) 50%;
    }

    .add-place-customer-input:user-invalid {
        background-position: calc(100% - 5px) 50%;
    }
}
