<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/heart-icon.png') }}">
</head>

<body>
    <div id='calendar'></div>


    <!-- Create Booking Modal -->
    <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-window-booking">
                    <div class="head">
                        <div class="event-title" id="modalTitle"></div>
                        <button class="close-button" data-bs-dismiss="modal">
                            <img src="images/svg/close-icon.svg" alt="close-icon" class="close-icon">
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <div class="content-booking">
                            <form id="bookingForm" method="POST">
                                <div class="form-container">
                                    <div class="form-content">
                                        <form method="POST" id="bookingForm" class="booking-form">
                                            <h3>MAIN INFORMATION</h3>
                                            <div class="add-place-horizontal">
                                                <div class="customer-formgroup">
                                                    <label class="customer-label">First Name*</label>
                                                    <input type="text" name="first_name"
                                                        class="add-place-customer-input" placeholder="First Name"
                                                        value="" required
                                                        pattern="^[^\d\!\@\#\$\%\^\&\*\=\+\~\/\+\;\:\?\{\}]*$"
                                                        maxlength="30">
                                                </div>
                                                <div class="customer-formgroup">
                                                    <label class="customer-label">Last Name</label>
                                                    <input type="text" name="last_name" class="add-place-customer-input"
                                                        placeholder="Last Name" value=""
                                                        pattern="^[^\d\!\@\#\$\%\^\&\*\=\+\~\/\+\;\:\?\{\}]*$"
                                                        maxlength="30">
                                                </div>
                                            </div>
                                            <div class="add-place-horizontal">
                                                <div class="customer-formgroup">
                                                    <label class="customer-label">Phone Number*</label>
                                                    <input type="tel" name="phone_number"
                                                        class="add-place-customer-input" maxlength="11" required
                                                        pattern="^1\d{10}$" placeholder="10123456789" value="">
                                                </div>
                                                <div class="customer-formgroup">
                                                    <label class="customer-label">Email*</label>
                                                    <input type="email" name="email" class="add-place-customer-input"
                                                        maxlength="30" required value=""
                                                        placeholder="customer@mail.com">
                                                </div>
                                            </div>
                                            <div class="add-place-horizontal">
                                                <div class="customer-formgroup">
                                                    <label class="customer-label">Street*</label>
                                                    <input type="text" name="street" class="add-place-customer-input"
                                                        maxlength="50" placeholder="Street" required value="">
                                                </div>
                                                <div class="customer-formgroup">
                                                    <label class="customer-label">Date and Time*</label>
                                                    <input type="datetime-local" name="datetime_local"
                                                        class="add-place-customer-input" required value="">
                                                </div>
                                            </div>
                                            <span class="line"></span>
                                            <h3>SERVICES WE PROVIDE</h3>
                                            <div class="add-place-horizontal select">
                                                <select class="form-select" name="selected_service" required>
                                                    <option selected disabled value="">Choose your service</option>
                                                    <option value="standart_cleaning">Standard cleaning</option>
                                                    <option value="deep_cleaning">Deep cleaning</option>
                                                    <option value="cleaning_move">Cleaning Move in/out</option>
                                                    <option value="after_construction">After construction</option>
                                                </select>
                                            </div>
                                            <h3>ADDITIONAL SERVICES</h3>
                                            <div class="add-place-horizontal">
                                                <div class="add-place">
                                                    <input type="checkbox" name="clean_windows"
                                                        class="add-place-checkbox">Clean Windows
                                                    (inside)</input>
                                                </div>
                                                <div class="add-place">
                                                    <input type="checkbox" name="clean_oven"
                                                        class="add-place-checkbox">Clean Oven
                                                    (inside)</input>
                                                </div>
                                            </div>
                                            <div class="add-place-horizontal">
                                                <div class="add-place">
                                                    <input type="checkbox" name="clean_basement"
                                                        class="add-place-checkbox">Clean Finished
                                                    Basement</input>
                                                </div>
                                                <div class="add-place">
                                                    <input type="checkbox" name="move_in_cleaning"
                                                        class="add-place-checkbox">Move in
                                                    Cleaning</input>
                                                </div>
                                            </div>
                                            <div class="add-place-horizontal">
                                                <div class="add-place">
                                                    <input type="checkbox" name="move_out_cleaning"
                                                        class="add-place-checkbox">Move out
                                                    Cleaning</input>
                                                </div>
                                                <div class="add-place">
                                                    <input type="checkbox" name="clean_fridge"
                                                        class="add-place-checkbox">Clean
                                                    Fridge(inside)</input>
                                                </div>
                                            </div>
                                            <span class="line"></span>
                                            <h3>MORE INFORMATION</h3>
                                            <div class="add-place-horizontal select">
                                                <select class="form-select" name="building">
                                                    <option selected disabled>Cleaning your house or apartment?</option>
                                                    <option value="house">House</option>
                                                    <option value="apartment">Apartment</option>
                                                </select>
                                            </div>
                                            <div class="add-place-horizontal">
                                                <div class="customer-formgroup">
                                                    <label class="customer-label">Number of rooms</label>
                                                    <div class="add-place">
                                                        <input type="number" name="rooms_number"
                                                            class="add-place-customer-input" min="0" placeholder="0"
                                                            value="">
                                                    </div>
                                                </div>
                                                <div class="customer-formgroup">
                                                    <label class="customer-label">Number of square feet</label>
                                                    <div class="add-place">
                                                        <input type="number" name="square_feet"
                                                            class="add-place-customer-input" min="0" placeholder="0"
                                                            value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add-place-horizontal select">
                                                <select class="form-select" name="use_equipment">
                                                    <option selected disabled>May we use your vacuum/mop?</option>
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                            <span class="line"></span>
                                            <div class="add-place-horizontal">
                                                <button type="button" id="saveButton" class="save-button"
                                                    onclick="saveBooking()">
                                                    <div class="save-button-text">EDIT BOOKING</div>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>